.App {
  font-family: sans-serif;
  text-align: center;
  
}

body {
  background-color: rgb(255, 255, 255);
}

.indiaMap {
  padding-top: 10px;
  
}
/* IndiaMap.css */

.india-map-container {
  position: relative;
  text-align: center; 
  
  
}

.map-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #004d40; /* Dark teal color for highlighting */
  margin-bottom: 5px; /* Space between the header and map */
  text-transform: uppercase; /* Uppercase text */
  border-bottom: 2px solid #004d40; /* Highlight with border */
  display: inline-block; /* Fit content width */
  
}
